* {
    font-family: 'Do Hyeon', sans-serif;
}

#modal-load {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    display: block;
    opacity: 0.9;
    background: white;
    z-index: 99;
    text-align: center;
}

#modal-load-img-div {
    width: 100%;
    position: absolute;
    top: 50%;
    z-index: 100;
}

#modal-load-msg-div {
    width: 100%;
    position: absolute;
    top: 55%;
    z-index: 100;
}

.nav-wrap {
    width: 1300px;
    margin: 5px auto auto auto;
}

.list-wrap {
    width: 1300px;
    height: 100%;
    margin: 50px auto;
}

.for-cursor {
    cursor: pointer;
}

#nav-user-profile-image {
    border: 1px solid lightgray;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.card img {
    width: 300px;
    height: 300px;
}

.card {
    width: 300px;
    height: 400px;
}

.sign-wrap {
    width: 1000px;
    margin: 50px auto 50px auto;
}

.modal-left {
    width: 60%;
    height: 600px;
    float: left;
}

.modal-left-image-area {
    width: 50%;
    height: 90%;
    margin: auto;
}

.modal-left-btn-area {
    width: 50%;
    height: 10%;

    /* align right */
    display: block;
    margin-left: auto;
    margin-right: 0;
}

.modal-right {
    width: 40%;
    height: 600px;
    float: right;
    display: grid;
    align-content: space-between;
}

#article-user-texts-comments-div {
    overflow-y: auto;
}

#article-user-profile-img {
    width: 50px;
    height: 50px;
}

#article-username {
    margin-left: 10px;
    font-weight: bolder;
}

#article-textarea {
    width: 100%;
    height: 200px;
    margin-top: 20px;

    border: none;
    outline: none;
    resize: none;
}

#article-text-div {
    width: 100%;
    margin-top: 20px;

    border: none;
    outline: none;
    resize: none;
}

#article-location-div {
    margin-bottom: 10px;
}

.article-content-icon {
    width: 20px;
    height: 20px;
    margin-bottom: 10px;
}

.tag {
    font-size: 13px;
    margin: 0 2px 0 2px;
    border-radius: 10%;
    padding: 5px;

    display: inline-block;
}

.article-image-container {
    position: relative;
    width: 100px;
    height: 100px;

    display: inline-block;
}

.article-image-container img {
    width: 100%;
    height: 100%;
}

.article-image-container:hover .article-image {
    opacity: 0.3;
}

.article-image-container:hover .article-image-container-middle {
    opacity: 1;
}

.article-image-container-middle {
    opacity: 0;
    position: absolute;
    top: 40%;
    left: 40%;
    text-align: center;
}

.location-list-font-size {
    font-size: 14px;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.gps-setting {
    margin-bottom: 5px;
}

.dropdown-item {
    text-align: center;
}

#article-comment-div {
    display: flex;
    flex-direction: column;
}

.comment-box {
    display: flex;
    align-items: center;
    justify-content: space-between
}

.comment {
    display: flex;
    margin-top: 20px;
}

.comment-user-profile-image {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    float: left;
}

.comment-username {
    font-weight: bolder;
    margin-left: 5px;
    margin-right: 10px;
}

.comment-text {
    word-break: break-all;
    font-weight: lighter;
}

.x {
    float: right;
    margin-left: 5px;
    margin-right: 5px;
}

.korea-map-font-v1 {
    width: 300px;
    font-size: 300px;
    color: #63786a;
}
