* {
    font-family: 'Do Hyeon', sans-serif;
}

.nav-link {
    color: rgba(0,0,0,.5);
}

.nav-link.active{
    color: rgba(0,0,0,.9);
}

.nav-link:hover {
    color: rgba(0,0,0,.7);
}

.profile-content {
    height: 225px;
    width: 1300px;
    margin: auto;
    display: flex;
}

.profile-content-nav {
    width: 1300px;
    margin: auto;
    display: flex;
}

.profile-hr {
    width: 1300px;
}

.profile-pic{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#user-profile-image{
    border-radius: 50%;
    width :150px;
    height : 150px;
}

.profile-info{
    height: 50%;
    display: flex;
}

#profile-username{
    position: relative;
    margin : 50px 0 0 0;
    font-size: xx-large;
}

#profile-email{
    position: relative;
    margin : 68px 0 0 20px;
    vertical-align: bottom;
    font-size: medium;
}

#setting-button{
    position: relative;
    margin : 50px 0 0 20px;
}

.profile-introduction {
    width: 60%;
    height: 50%;
    display: flex;
    align-items: baseline;
}

#profile-text-onscreen {
    display: flex;
    align-items: baseline;
    width: 500px;
}

#profile-intro-text {
    position: relative;
    font-size: large;
}

#profile-introduction-textarea {
    width: 350px;
    position: relative;
    font-size: large;
    display: flex;
    flex-wrap: nowrap;
    align-items: baseline;

}

#profile-text-to-change{
    width: 350px;
    word-break: break-all;
    overflow-y : auto;
}

#edit-icon {
    margin-left : 10px;
}

.content-articles {
    width: 1300px;
    margin:auto;
    display: block;
}